<div class="horizontal-menu">
  <nav class="bottom-navbar">
    <div class="container">
      <ul class="nav page-navigation">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Privacy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="mdi mdi-codepen menu-icon"></i>
            Laptop
            <span class="menu-title">Sample Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="submenu">
            <ul class="submenu-item">
              <li class="nav-item"><a class="nav-link" asp-controller="Laptop">Laptop</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Marque">Marque</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Reference">Reference</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="DisqueDur">Disque dur</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Ram">Ram</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Processeur">Processeur</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Ecran">Ecran</a></li>
            </ul>
          </div>
              
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Mouvement">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Mouvement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="MouvementPointDeVente">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Mouvement point de vente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="PointDeVente">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Point de vente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="ReportPointDeVente">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Report point de vente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Utilisateur">
            <i class="mdi mdi-file-document-box menu-icon"></i>
            Utilisateur
          </a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  