@model mikolo.Laptop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdReference" class="control-label"></label>
                <select asp-for="IdReference" class="form-control" asp-items="ViewBag.IdReference"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProcesseur" class="control-label"></label>
                <select asp-for="IdProcesseur" class="form-control" asp-items="ViewBag.IdProcesseur"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdRam" class="control-label"></label>
                <select asp-for="IdRam" class="form-control" asp-items="ViewBag.IdRam"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEcran" class="control-label"></label>
                <select asp-for="IdEcran" class="form-control" asp-items="ViewBag.IdEcran"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDisqueDur" class="control-label"></label>
                <select asp-for="IdDisqueDur" class="form-control" asp-items="ViewBag.IdDisqueDur"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

